<?xml version='1.0' encoding='UTF-8'?>
<hudson>
  <disabledAdministrativeMonitors>
    <string>hudson.diagnosis.ReverseProxySetupMonitor</string>
  </disabledAdministrativeMonitors>
  <numExecutors>0</numExecutors>
  <mode>NORMAL</mode>
  <useSecurity>true</useSecurity>
  <authorizationStrategy class="hudson.security.AuthorizationStrategy$Unsecured"/>
  <securityRealm class="hudson.security.SecurityRealm$None"/>
  <disableRememberMe>false</disableRememberMe>
  <projectNamingStrategy class="jenkins.model.ProjectNamingStrategy$DefaultProjectNamingStrategy"/>
  <workspaceDir>${JENKINS_HOME}/workspace/${ITEM_FULLNAME}</workspaceDir>
  <buildsDir>${ITEM_ROOTDIR}/builds</buildsDir>
  <jdks/>
  <viewsTabBar class="hudson.views.DefaultViewsTabBar"/>
  <myViewsTabBar class="hudson.views.DefaultMyViewsTabBar"/>
    <clouds>
    <org.jenkinsci.plugins.mesos.MesosCloud plugin="mesos@1.0-SNAPSHOT">
      <name>MesosCloud</name>
      <instanceCap>2147483647</instanceCap>
      <mesosMasterUrl>https://leader.mesos:5050</mesosMasterUrl>
      <frameworkName>Jenkins Scheduler</frameworkName>
      <frameworkId></frameworkId>
      <agentUser>root</agentUser>
      <role>*</role>
      <jenkinsUrl></jenkinsUrl>
      <mesosAgentSpecTemplates>
        <org.jenkinsci.plugins.mesos.MesosAgentSpecTemplate>
          <label>mesos</label>
          <labelSet class="sorted-set">
            <hudson.model.labels.LabelAtom>mesos</hudson.model.labels.LabelAtom>
          </labelSet>
          <mode>EXCLUSIVE</mode>
          <idleTerminationMinutes>3</idleTerminationMinutes>
          <reusable>false</reusable>
          <cpus>0.1</cpus>
          <mem>512</mem>
          <disk>0.0</disk>
          <minExecutors>1</minExecutors>
          <maxExecutors>1</maxExecutors>
          <executorMem>128</executorMem>
          <remoteFsRoot>jenkins</remoteFsRoot>
          <jvmArgs>-Xms16m -XX:+UseConcMarkSweepGC -Djava.net.preferIPv4Stack=true</jvmArgs>
          <jnlpArgs>-noReconnect</jnlpArgs>
          <defaultAgent>false</defaultAgent>
          <agentAttributes></agentAttributes>
          <containerImage>amazoncorretto:8</containerImage>
        </org.jenkinsci.plugins.mesos.MesosAgentSpecTemplate>
      </mesosAgentSpecTemplates>
    </org.jenkinsci.plugins.mesos.MesosCloud>
  </clouds>
  <slaves/>
  <quietPeriod>5</quietPeriod>
  <scmCheckoutRetryCount>3</scmCheckoutRetryCount>
  <views>
    <hudson.model.AllView>
      <owner class="hudson" reference="../../.."/>
      <name>All</name>
      <filterExecutors>false</filterExecutors>
      <filterQueue>false</filterQueue>
      <properties class="hudson.model.View$PropertyList"/>
    </hudson.model.AllView>
  </views>
  <primaryView>All</primaryView>
  <slaveAgentPort>0</slaveAgentPort>
  <label></label>
  <nodeProperties/>
  <globalNodeProperties/>
  <noUsageStatistics>true</noUsageStatistics>
</hudson>
